@import url(https://fonts.googleapis.com/css?family=Lato);

html, body, #root {
    margin: 0px;
    height: 100%;
    background: white;
    font-family: Lato;
    width: 90%;
}

label {
    display:block;
}
.App header {
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: white;
    border: 1px solid black;
    margin: 5px;
    background-color: black;

}
ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.friends {
    display: flex;
    flex-direction: column;
}
.login input {
    width: 15%;
}
h4 {
    margin: 10px
}
.add-friend button {
    margin-top: 5px;
}
.errors {
    color: red;
}
